{% extends 'base.html' %}

{% block body %}

<div class="container mt-5" style="backdrop-filter: blur(20px);">
  <h1 class="text-center">Update ToDo</h1>


  <form class="mt-4" method="post">

    {% csrf_token %}

    <div class="form-group">
      <label for="taskName">Task Name</label>
      <input type="text" class="form-control" name="task" placeholder="Enter task name" value="{{ todo.task }}">
    </div>


    <div class="form-group">
      <label for="taskDescription" >Created At</label>
      <input type="date" class="form-control" name="created_at" value="{{ todo.created_at }}">
    </div>

    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn:hover-warning mt-3 text-light " style="background-color: rgb(110, 94, 80);" >Update Task</button>

    </div>
  </form>


</div>

{% endblock %}